---
import type { GetStaticPaths } from "astro";

import { localeNames } from "@/shared/constants/I18n";
import AppLayout from "@/shared/components/AppLayout.astro";
import Header from "@/shared/components/Header.astro";

export const getStaticPaths: GetStaticPaths = () =>
  localeNames.map(locale => ({
    params: { locale },
  }));
---

<AppLayout>
  <Header titleText="Hunmin Park">
    <span class="text-orange">Hunmin</span>
    <span class="text-green">Park</span>
  </Header>
</AppLayout>
