---
import type { GetStaticPaths } from "astro";

import { localeNames } from "@/shared/constants/I18n";
import "@/shared/styles/Global.css";

export const getStaticPaths: GetStaticPaths = () =>
  localeNames.map(locale => ({
    params: { locale },
  }));
---

<html lang="ko" class="m-0 h-full w-full p-0 font-sans">
  <head>
    <!-- Pretendard. -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin=""
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <!-- Fira Code. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet" />
  </head>
  <body class="m-0 h-full w-full p-0">
    <div class="bg-background text-primary flex h-full w-full flex-col items-center overflow-y-auto pt-16">
      <div class="w-full max-w-screen-lg px-6"><slot /></div>
      <!-- padding-bottom is ignored when we have scroll. So we use an empty box instead. -->
      <div class="h-32 w-full shrink-0"></div>
    </div>
  </body>
</html>
