@use 'src/style/common/Colors';

.header {
    box-sizing: border-box;

    padding: 0 2rem;
}

.title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.link {
    color: Colors.$yellow;

    &:hover {
        color: lighten(Colors.$yellow, 10);
    }
}
