@use 'src/style/common/Colors';
@use 'src/style/common/Mixins';

.page {
    @include Mixins.page;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    // Trick of avoiding the scroll of the page.
    min-height: 0;
}

.gridArea {
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    flex: 1;
    margin-top: 1rem;

    @include Mixins.largeWidthScreen {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.grid {
    margin: auto;
}

.realCell {
    box-sizing: border-box;

    padding: 0.2rem;
}
