@use 'src/style/common/Colors';
@use 'src/style/common/Mixins';

$cellWidth: 10rem;
$cellHeight: 10rem;

.grid {
    @include Mixins.grid($cellWidth, $cellHeight, 8);

    margin: auto;
}

.realCell {
    @include Mixins.realCell($cellWidth, $cellHeight);

    box-sizing: border-box;

    width: $cellWidth;
    height: $cellHeight;
    padding: 0.2rem;
}

.fakeCell {
    @include Mixins.fakeCell($cellWidth, $cellHeight);
}
