---
import Contracts from "@/features/projects/Contracts.astro";
import Main from "@/features/projects/Main.astro";
import Personal from "@/features/projects/Personal.astro";
import AppLayout from "@/shared/components/AppLayout.astro";
import Header from "@/shared/components/Header.astro";
import PageMenu from "@/shared/components/PageMenu.astro";
import Section from "@/shared/components/Section.astro";
import SVGSprite from "@/shared/components/SVGSprite.astro";
import { getStaticPaths } from "@/shared/utils/LocaleUtils";

export { getStaticPaths };
---

<AppLayout title="MyPage - Projects" description="Some of my projects">
  <Header titleText="Projects">Projects</Header>
  <PageMenu ids={["main", "contracts", "personal"]} />
  <Section id="main" title="Main">
    <Main />
  </Section>
  <Section id="contracts" title="Contracts">
    <Contracts />
  </Section>
  <Section id="personal" title="Personal">
    <Personal />
  </Section>
  <SVGSprite />
</AppLayout>
