---
import HistoryView from "@/shared/components/HistoryView.astro";
import { getLocale } from "@/shared/utils/LocaleUtils";

const data = {
  tmaxgaia: {
    ko: "티맥스가이아",
    en: "TmaxGaia",
  },
  researcher: {
    ko: "연구원",
    en: "Researcher",
  },
  gaia: {
    ko: "No-code 앱 제작 프로그램 GAIA 개발",
    en: "No-code app dev. program GAIA",
  },
  office: {
    ko: "데스크톱용 오피스 프로그램 ToOffice 개발",
    en: "",
  },
};

const locale = getLocale(Astro.params);
---

<HistoryView duration={{ start: "2021", end: "2024" }}>
  <span slot="title">{data.tmaxgaia[locale]}</span>
  <span slot="subtitle">{data.researcher[locale]}</span>
  {data.gaia[locale]}
  <br />
  {data.office[locale]}
</HistoryView>
