---
import SVGIcon from "@/shared/components/SVGIcon.astro";

const items: Array<{ iconName: string; url: string }> = [
  { iconName: "youtube", url: "https://www.youtube.com/user/Scottparkmusic" },
  { iconName: "github", url: "https://github.com/Avantgarde95" },
  { iconName: "instagram", url: "https://www.instagram.com/hunminpark95" },
];
---

<div class="flex flex-row flex-wrap items-center justify-start gap-5">
  {
    items.map(item => (
      <a class="hover:text-yellow" href={item.url} target="_blank">
        <SVGIcon class="h-6 w-6 fill-current" name={item.iconName} />
      </a>
    ))
  }
</div>
