---
interface Props {
  duration: { start: string; end?: string };
  title: string;
  subtitle?: string;
  noContent?: boolean;
}

const { duration, title, subtitle, noContent = false } = Astro.props;
---

<div class="group flex flex-row">
  <div class="flex w-14 shrink-0 flex-col md:w-36 md:flex-row">
    <span>{duration.start} -</span>
    <span class="hidden md:inline">&nbsp;</span>
    <span>{duration.end ?? "..."}</span>
  </div>
  <div class="flex flex-col items-center font-mono">
    +
    <div class="bg-gray w-[2px] flex-1"></div>
  </div>
  <div class="ml-2">
    <div class="mt-[0.05rem]">{title}</div>
    {subtitle && <div class="text-gray">{subtitle}</div>}
    {
      !noContent && (
        <div class="mt-2">
          <slot />
        </div>
      )
    }
    <div class="h-4 group-last-of-type:h-0"></div>
  </div>
</div>
