@use '../Common.scss';

.page {
    @include Common.page;
}

.document {
    width: 100%;
    height: 100%;
    // We remove iframe's border since it creates overflow.
    border: 0;

    background: #d1d1d1;
}
