---
import type { Technology } from "@/shared/components/Technology";

interface Props {
  technologies: Array<Technology>;
}

const { technologies } = Astro.props;
---

<div class="mt-1 flex flex-row flex-wrap gap-x-3 gap-y-1 text-sm text-white">
  {
    technologies.map(({ icon, iconColor, name }) => (
      <div class="inline-flex flex-row items-center">
        <div
          class="mr-1 *:h-[0.875rem] *:w-[0.875rem] *:fill-current"
          set:html={icon}
          style={{
            color: iconColor,
          }}
        />
        {name}
      </div>
    ))
  }
</div>
