@use '../common/Colors';
@use '../common/Mixins';

@keyframes chatAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chat {
    display: flex;
    flex-direction: row;

    width: 100%;

    animation: chatAnimation 0.5s;

    &:not(:first-child) {
        margin-top: 1rem;
    }

    &.isMe {
        justify-content: right;
    }
}

.profile {
    // Prevent the profile from shrinking.
    // (It happens on some phones.)
    min-width: 3rem;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    background-color: Colors.$white;
    background-image: url('/image/Me.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.chatContent {
    margin-left: 0.5rem;
}

.nickname {
    font-size: 1rem;

    color: Colors.$black;
}
