@use '../common/_Colors';
@use '../common/_Mixins';

.page {
    @include Mixins.page;

    overflow: hidden;
}

.nextButton {
    position: absolute;
    cursor: pointer;

    left: 50%;
    bottom: 0;
    font-size: 2rem;
    transform: translateX(-50%);

    color: Colors.$white;
    border-color: transparent;
    background-color: transparent;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
