@use '../common/Colors';
@use '../common/Mixins';

.page {
    @include Mixins.page;

    display: flex;
    flex-direction: column;

    // Prevent the page from creating a overflow.
    min-height: 0;
}

.chatsArea {
    position: relative;
    overflow: hidden;

    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 0;

    background-color: Colors.$blue;
}

.chats {
    position: relative;
    // Put the logo behind the messages.
    z-index: 2;

    overflow-y: auto;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 1rem;
}

.questions {
    width: 100%;

    @include Mixins.smallHeightScreen {
        display: flex;
        flex-direction: row;
    }
}

.question {
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;

    width: 100%;
    padding: 0.5rem;

    color: Colors.$black;
    background-color: Colors.$white;
    border: 0;
    border-top: 2px solid Colors.$gray;

    font-family: inherit;
    font-size: 1rem;

    &:hover {
        background-color: Colors.$yellow;
    }

    @include Mixins.smallHeightScreen {
        &:not(:first-child) {
            border-left: 2px solid Colors.$gray;
        }
    }
}
