@use '../common/_Colors';
@use '../common/_Mixins';

.appButton {
    cursor: pointer;
    transition: transform 0.1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    border: 2px solid Colors.$white;

    &:hover {
        transform: scale(0.85);
    }

    @include Mixins.neonBorder(darken(Colors.$white, 20), darken(Colors.$white, 10), 6px, 8px);
}
