@use '../Common';

.appButton {
    cursor: pointer;
    transition: all 0.1s;
    text-align: center;

    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    line-height: 4rem;
    font-size: 2.5rem;

    background-color: Common.$white;

    &:hover {
        transform: scale(0.85);
    }
}
