@use '../Common';

.appButton {
    cursor: pointer;
    transition: transform 0.1s;
    text-align: center;

    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    line-height: 4rem;
    font-size: 2.5rem;
    border: 2px solid Common.$white;

    &:hover {
        transform: scale(0.85);
    }

    @include Common.neonBorder(darken(Common.$white, 20), darken(Common.$white, 10), 6px, 8px);
}
