@use '../common/Colors';
@use '../common/Mixins';

@keyframes lockerAppearingAnimation {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes lockerDisappearingAnimation {
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.locker {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    animation: lockerAppearingAnimation 1.5s forwards;

    &.isDisappearing {
        animation: lockerDisappearingAnimation 0.5s forwards;
    }
}

.largeClock {
    margin-top: 4.5rem;
    font-size: 2.5rem;

    @include Mixins.smallHeightScreen {
        margin-top: auto;
    }
}

.smallClock {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.unlockButton {
    cursor: pointer;

    margin-top: auto;
    margin-bottom: 4.5rem;
    font-size: 3rem;

    border: 0;
    color: Colors.$white;
    background-color: transparent;

    &:hover {
        color: Colors.$yellow;
    }

    @include Mixins.smallHeightScreen {
        margin-bottom: auto;
    }
}
