@use 'src/style/common/Colors';
@use 'src/style/common/Mixins';

.page {
    @include Mixins.page;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes gridAnimation {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.grid {
    animation: gridAnimation 0.3s forwards;
}

.realCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
