@use '../Common';

.page {
    @include Common.page;
}

@keyframes appAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    z-index: 1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
