.device {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    flex: 1;

    // Trick for preventing the child from creating an overflow to the flexbox.
    min-height: 0;
}
