@use '../Common';

.navigationBar {
    display: table;
    width: 100%;
}

@mixin baseButton {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.1s;

    width: 3rem;
    height: 2.5rem;
    border: none;
    line-height: 2.5rem;
    font-size: 2rem;

    color: Common.$white;
    background-color: transparent;

    &:hover {
        transform: scale(0.8);
    }
}

.button {
    @include baseButton();
}

.languageButton {
    @include baseButton();

    background-size: auto 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.cell {
    display: table-cell;

    width: 4rem;
    text-align: center;
}
