@use '../Common';

.navigationBar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    padding: 0.2rem 0;
}

.button {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;

    // Hide the overflow inside the buttons.
    // (Especially the language button.)
    overflow-y: hidden;

    width: 3rem;
    height: 2.5rem;
    border: none;
    font-size: 2rem;

    color: Common.$white;
    background-color: transparent;

    &:hover {
        transform: scale(0.8);
    }
}

.language {
    position: absolute;

    top: 1rem;
    left: 1rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: top 0.5s, left 0.5s;

    color: Common.$gray;

    &.isSelected {
        z-index: 1;

        top: 0;
        left: 0;

        color: Common.$white;
    }
}
