.statusBar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 2rem;
}

.left {
    height: 100%;
}

.right {
    margin-left: auto;
    height: 100%;
}

.block {
    display: inline-block;

    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
