.statusBar {
    box-sizing: border-box;

    width: 100%;
    height: 2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 2rem;

    color: #ffffff;
}

.left {
    float: left;
    height: 100%;
}

.right {
    float: right;
    height: 100%;
}

.block {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
