@use '../Common';

.statusBar {
    // Since the page is rendered after the status bar,
    // if something in the page is larger than the page, the status bar will be hidden.
    // (ex. Background uses position: fixed)
    // So we set z-index to always put the status bar in front of the page.
    z-index: 1;

    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    line-height: 2rem;
}

.left {
    height: 100%;
}

.right {
    margin-left: auto;
    height: 100%;
}

.block {
    display: inline-block;

    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.wideDeviceName {
    display: none;
}

@media (min-width: Common.$wideScreenMinWidth) {
    .wideDeviceName {
        display: block;
    }

    .narrowDeviceName {
        display: none;
    }
}
